<h1>Welcome to the Admin Dashboard</h1>
<div class="hero">
  <ul>
    <li><a href="/admin/add-item">Add New Item</a></li>
    <li><a href="/admin/manage-items">Manage Items</a></li>
    <li><a href="/admin/manage-categories">Manage Categories</a>
    </li>
    <li><a href="/admin/logout">Logout</a></li>
  </ul>
</div>

