@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* margin-bottom: 5rem; */
  padding: 10px;
}
.navbar ul li {
  list-style: none;
  padding: 1rem;
}
a {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  position: relative;
}
.hero {
  display: flex;
  max-width: 750px;
  gap: 30px;
  height: 100%;
  padding: 20px;
  flex-wrap: wrap;
  min-height: 100vh;
}
.hero h1 {
  letter-spacing: 2px;
}
footer {
  padding: 2rem;
}
p span {
  color: hsl(0, 0%, 80%);
}
.card {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.199);
  padding: 10px;
  display: flex;
  width: 300px;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}
.card .desc {
  color: hsla(0, 0%, 100%, 0.7);
}
.hero form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.678);
  padding: 10px;
}
.login-btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  gap: 1rem;
  margin-top: 3rem;
}

.index h1 {
  letter-spacing: 2px;
}
.item {
  margin-top: 3rem;
}

.cat {
  margin-top: 3rem;
}

.login form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.manage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table tbody tr td {
  border-right: 1px solid rgba(255, 255, 255, 0.644);
}
